/* CSS Styles */

body {
    background-color: #1e1e1e;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective-origin: 50%;
}

.background-graphic {
    background-image: url("Assets/Homepage/blurcode_bg.png");
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 60vh;
}

.about-title {
    animation-delay: 1s;
    height: 40vh;
    width: 50vw;
    position: relative;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    perspective: 10px;

    animation: 0.75s ease-out 0s 1 slideFromTop;
}

.text-container {
    width: 100vw;
    position: absolute;
    top: 75vh;
}

.textbox-left {
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 60ch;
    margin-left: 5vw;
    text-align: left;
}

.text-normal {
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.5rem;
    display: block;
}

.textbox-right {
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 60ch;
    text-align: right;
    margin-left: 10vw;
}

.about-title-text {
    color: white;
    font-family: "Roboto";
    font-size: 70px;
    font-weight: 100;
    margin-top: 20vh;
    text-align: center;
}

.background-header {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    position: absolute;
    
    justify-content: center;
    animation: 0.5s ease-out 0s 1 fadeIn;
}

.title-container {
    width: 100vw;
    height: 20vh;
    top: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.text-container-left {
    display: flex;
    justify-content: left;
    position: relative;
    width: 50vw;
    background-color: #1e1e1e;

    animation: 1s ease-out 0s 1 leftParagraphFade;
}

.text-container-right {
    display: flex;
    justify-content: right;
    position: relative;
    margin-left: 40%;
    width: 50%;
    background-color: #1e1e1e;

    animation: 1.5s ease-out 0s 1 rightParagraphFade;
}

.text-header1 {
    color: white;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 36px;
    float: center;
    text-align: center;
}

#header1-1 {
    animation: 0.5s ease-out 0s 1 softSlideFromBottom;
}

/*  Animations */

.navbar-icon:hover {
    transform: rotate(90deg);
}

/* Media Queries */

@media (max-width: 1000px){
    .textbox-left {
        color: white;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1rem;
        max-width: 40ch;
        margin-left: 5vw;
        text-align: left;
    }
    
    .text-normal {
        color: white;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1rem;

        display: block;
    }
    
    .textbox-right {
        color: white;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1rem;
        max-width: 40ch;
        margin-right: 50vw;
        text-align: right;
    }

    .text-container-right {
        width: 100%;
        padding: 1vw;
    }

    .text-container-left {
        width: 100%;
        padding: 1vw;
    }
    
}

/* Keyframes */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideFromTop {

    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    50% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes softSlideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(55%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes leftParagraphFade {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    50% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes rightParagraphFade {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    75% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}