/* CSS Styles */

body {
    background-color: #1e1e1e;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective-origin: 50%;
}

.background-graphic {
    background-image: url("Assets/Homepage/blurcode_bg.png");
    background-size: cover;
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 60vh;
}

.content-container {
    position: absolute;
    left: 0;
    top: 35vw;
}

.img-element {
    width: 17.5vw;
    margin: 1vw;
    display: inline-block;
}

.about-title {
    animation-delay: 1s;
    height: 40vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    perspective: 10px;

    animation: 0.75s ease-out 0s 1 slideFromTop;
}

.information-chunk {
    width: 100vw;
    height: 40vw;
    background-color: #1e1e1e;
    z-index: 50;
}

.text-box {
    color: white;
    width: 40vw;
    margin: 5vw;
    font-family: "Roboto";
    float: left;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: left;
}

.image-box {
    width: 40vw;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    flex-wrap: wrap;
    margin: 5vw;
}

.text-left {
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.5rem;
    display: block;
    text-align: left;
}

.text-right {
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.5rem;
    display: block;
    text-align: right;
}

.about-title-text {
    color: white;
    font-family: "Roboto";
    font-size: 70px;
    font-weight: 100;
    margin-top: 20vh;
    text-align: center;
}

.background-header {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    position: absolute;
    
    justify-content: center;
    animation: 0.5s ease-out 0s 1 fadeIn;
}

.title-container {
    width: 100vw;
    height: 20vh;
    top: 60%;
    position: absolute;
    display: flex;
    background-color: #1e1e1e;
    justify-content: center;
}

.text-header1 {
    color: white;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 36px;
    float: center;
    text-align: center;
}

#header1-1 {
    animation: 0.5s ease-out 0s 1 softSlideFromBottom;
}

/*  Animations */

.navbar-icon:hover {
    transform: rotate(90deg);
}

/* Keyframes */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideFromTop {

    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    50% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes softSlideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(55%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes leftParagraphFade {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    50% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes rightParagraphFade {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    75% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}