body {
    background-image: url("Assets/Contact/contact_bg.png");
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
}

::placeholder {
    color: #bdbdbd;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 400; 
}

.contact-header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0%;
    left: 0;

    animation: 0.5s ease-out 0s 1 titleDropDown;
}

.invalid-box {
    background-color: #ff4a4a;
    border-radius: 00px 0px 0px 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 12vw;
    height: 4vw;
    color: white;
    text-align: center;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.2vw;
    transform: translateY(-100%);
    transition-duration: 0.5s;
}

.invalid-text {
    top: 0;
}

.confirm-banner {
    width: 100vw;
    height: 5vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color:rgb(59, 172, 44, 0.5);
    display: flex;
    justify-content: left;
    transform: translateY(100%);
    opacity: 0;
    z-index: 3;
}

.banner-x {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: "Roboto";
    font-size: 3vh;
    margin-left: 10px;
    margin-right: 20px;
    width: 5vh;
    height: 5vh;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.banner-x:hover {
    background-color:rgb(85, 202, 70);
    border-radius: 100px;
    cursor: pointer;
}

.confirm-text {
    color: white;
    font-family: "Roboto";
    font-size: 3vh;
    margin-top: 0.6vh;
}

.contact-title {
    color: white;
    font-family: "Roboto";
    font-size: 60px;
    height: 120px;
    text-align: center;
    font-weight: 100;
    z-index: 1;
}

.form-container {
    padding-top: 0px;
    width: 650px;
    height: 450px;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #252425;
    display: block;
    border: 1px white solid;
    

    animation: 1s ease-in-out 0s 1 formSlideUp;
}

.input-box {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 510px;
    height: 15px;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px rgb(129, 129, 129) solid;
    padding: 20px;
    color: white;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 400; 
}

.msg-box {
    margin-left: 50px;
    margin-right: 3vw;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 510px;
    height: 65px;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px rgb(129, 129, 129) solid;
    padding: 20px;
    color: white;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 400;
    resize: none;
}

.input-box:focus {
    background-color: #68686870;
    border-bottom: 4px white solid;
}

.msg-box:focus {
    background-color: #68686870;
    border-bottom: 4px white solid;
}

.send-button {
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 60px;
    background-color:rgb(51, 51, 51);
    color: white;
    font-size: 28px;
    font-family: "Roboto";
    border: none;
    outline: none;
    border-radius: 10px;
    transition-duration: 0.25s;
}

.send-button:hover {
    background-color: rgb(59, 172, 44);
    color: white;
    border: 2px white solid;
}


.text-container {
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1e1e1e99;
    display: block;
    z-index: 2;
}

@media (max-height: 1000px){
    .text-container {
        width: 100vw;
        height: 250px;
        position: absolute;
        top: 750px;
        left: 0;
        background-color: #1e1e1e99;
        display: block;
    }
}

.phone-text {
    color: white;
    font-size: 25px;
    font-family: "Roboto";
    position: relative;
    transform: translateX(-50%);
    margin-left: 50%;
    width: auto;
    height: auto;
    text-align: center;
    margin-bottom: 0;
}

.ëmail-text {
    color: white;
    font-size: 25px;
    font-family: "Roboto";
    position: relative;
    text-align: center;
    transform: translateX(-50%);
    margin-left: 50%;
    width: auto;
    height: auto;
    margin-top: 0;
}

.contact-explained {
    color: rgb(184, 184, 184);
    font-size: 18px;
    font-family: "Roboto";
    position: relative;
    transform: translateX(-50%);
    margin-left: 50%;
    max-width: 50ch;
    height: auto;
    text-align: center
}


@media (max-width: 1000px){

}

@keyframes titleDropDown{
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}

@keyframes formSlideUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }
    25% {
        opacity: 0;
        transform: translateX(-50%) translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
}