/* CSS Styles */

body {
    background-color: #1e1e1e;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective-origin: 50%;
}

.morse-tapper-background-graphic {
    background-image: url("Assets/Projects/Backgrounds/morse-tapper-bg.png");
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 30vh;
}

.project-title {
    animation-delay: 1s;
    height: 40vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    perspective: 10px;

    animation: 0.75s ease-out 0s 1 slideFromTop;
}

.text-container {
    width: 100vw;
    position: absolute;
    top: 40vh;
    left: 0;
    background-color: #1e1e1e;
}

.project-resources-container {
    width: 70vw;
    height: 18vw;
    margin-left: 15vw;
    display: flex;
    justify-content: center;
}

.youtube-resource-box {
    margin-left: 10px;
    margin-right: 10px;
    transition-duration: 0.5s;
    border-radius: 25px;
}

.youtube-resource-box:hover {
    opacity: 1;
}

.github-resource-box {
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
    height: 100%;
    transition-duration: 0.5s;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 25px;
}

.github-resource-box:hover {
    opacity: 1;
}

.image-container-right {
    width: 40vw;
    margin-left: 55vw;
    margin-top: -40vh;
}

.image-container-left {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5vw;
    margin-top: -100vh;
}

.project-image {
    padding: 5px;
    animation-delay: 1s;
    animation: 0.75s ease-out 0s 1 slideFade;
}

.textbox-left {
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 40vw;
    margin-left: 5vw;
    text-align: left;
}

.text-normal {
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.5rem;
    display: block;
}

.textbox-right {
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 40vw;
    text-align: right;
    margin-right: 6vw;
}

.section-title {
    color: white;
    font-family: "Roboto";
    font-size: 5ch;
}

.project-title-text {
    color: white;
    font-family: "Roboto";
    font-size: 70px;
    font-weight: 100;
    margin-top: 6vh;
    text-align: center;
}

.background-header {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex;
    position: absolute;
    
    justify-content: center;
    animation: 0.5s ease-out 0s 1 fadeIn;
}

.title-container {
    width: 100vw;
    height: 20vh;
    top: 30%;
    position: absolute;
    display: flex;
    background-color: #1e1e1e;
    justify-content: center;
}

.text-container-left {
    display: flex;
    justify-content: left;
    position: relative;
    width: 50vw;
    background-color: #1e1e1e;

    animation: 1s ease-out 0s 1 leftParagraphFade;
}

.text-container-right {
    display: flex;
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    background-color: #1e1e1e;

    animation: 1.5s ease-out 0s 1 rightParagraphFade;
}

.text-header1 {
    color: white;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 36px;
    float: center;
    text-align: center;
}

#header1-1 {
    animation: 0.5s ease-out 0s 1 softSlideFromBottom;
}

/*  Animations */

.navbar-icon:hover {
    transform: rotate(90deg);
}

/* Media Queries */

@media (max-width: 1200px){
    .textbox-left {
        color: white;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1rem;
        max-width: 30ch;
        margin-left: calc(50vw - 40ch);
        text-align: left;
    }
    
    .text-normal {
        color: white;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1rem;

        display: block;
    }
    
    .textbox-right {
        color: white;
        font-family: "Roboto";
        font-weight: 400;
        font-size: 1rem;
        max-width: 30ch;
        margin-right: calc(50vw - 40ch);
        text-align: right;
    }

    .text-container-right {
        width: 50%;
        padding: 1vw;
        margin-left: 50%;
    }

    .text-container-left {
        width: 50%;
        padding: 1vw;
        margin-left: 0;
    }
    
}

/* Keyframes */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideFromTop {

    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    50% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideFade {

    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    50% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes softSlideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(55%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes leftParagraphFade {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    50% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes rightParagraphFade {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    75% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}