/* CSS Styles */

body {
    background-color: #1e1e1e;
    margin: 0;
    overflow: hidden;
}

.background-header {
    background-image: url("Assets/blurcode_bg.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    animation: 0.5s ease-out 0s 1 fadeIn;
}

.logo {
    height: 50vh;
    position: relative;
    margin-top: 20vh;

    animation: 0.25s ease-out 0s 1 slideFromTop;
}

.navbar-icon {
    width: 2vh;
    height: 2vh;
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}